:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #c1d186; */
    background-image: url(https://i.postimg.cc/m2bh5nxY/Untitled-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: soft-light; */
    
}

.container{
    padding: 50px;
    margin: 1px;
    height: fit-content;
    width: fit-content;
   
    border-radius: 50px;
    background: linear-gradient(#3b684c,rgba(167, 114, 15, 0.383)) ;

    font-size: 30px;
    align-content: center;
}
h1{
    font-size: 50px;
}
#height, #weight{
    height:23px;
    font-size:19px;

    background-color: aquamarine;
    box-shadow: 4px 4px 4px rgb(160, 184, 54);

    border: none;
    border-bottom: 3px solid rgb(0, 0, 0);
}

    
button{
    margin-top: 20px;
    width: fit-content;
    height: 50px;
    font-size: 20px;

    color: white;
    background: #000000;
    box-shadow: 4px 4px 4px rgb(160, 184, 54);

    border: 2px solid black;
    border-radius: 17px;
}
button:hover{
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    font-size: 35px;

    width: fit-content;
    box-shadow: 8px 8px 8px 4px rgb(0, 0, 0);
    font-family:'Times New Roman';
} 